@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --color-primary: wheat;
        --color-text-primary: wheat;
        --color-secondary: rgb(10, 15, 25);
        --color-text-secondary: rgb(10, 15, 25);;
    }

    html {
        background-color: var(--color-secondary);
    }

    body {
        margin: 0;
    }

    canvas {
        width: 100vw;
        height: 100vh;
    }
}